.discount-applicator{
    background-color: #ffffff;
    border: solid;
    grid-column: 3;
    grid-row: 3;
}

#discount-applicator-title{
    margin-left: 25px;
}
#discount-applicator-title{
    margin-top: 20px;
    margin-bottom: 12px;
}

#discount-amount{
    margin-left: 25px;
    border: 1px solid #e3eaef;
    color: #1b1d1f;
    background-color: #fff;
    padding-top: 6.65px;
    padding-bottom: 6.0px;
    width: 70px;
    margin-bottom: 20px;
}