.discount-applicator{
    grid-row: 3;
    grid-column: 3;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    border: none;
    border-radius: .25rem;
    padding: 25px;
    margin: 0px 25px 25px 0px;
}

#discount-applicator-title{
    position: relative;
    z-index: 999;
    margin-bottom: 12px;
}

#discount-amount, #dish-name{
    position: relative;
    z-index: 999;
    width: 70px;
    color: #1b1d1f;
    border: 1px solid #e3eaef;
    background-color: #fff;
    padding: 6.65px 0px 6.0px 0px;
    margin-bottom: 20px;
}

#dish-name{
    margin-left: 10px;
}

#submitDiscountButton{
    position: relative;
    z-index: 999;
	cursor:pointer;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: #ee0d0d;
    border-style: none;
    border-color: #ee0d0d;
    border-radius: 0rem .25rem .25rem 0rem;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    padding: 6px 12px 6px 12px;
    margin: 5px;
}
