.DashboardClass{
    display: grid;
}

@media screen and (max-width: 450px) {
    header{
        box-shadow: none;
    }
}

@media screen and (max-width: 1375px) {

    .dishes-component{
        grid-row: 3;
        grid-column: 2 / 4;
    }

    .discount-applicator{
        grid-row: 4;
        grid-column: 1 / 4;
        margin-left: 25px;
        margin-top: none;
    }
    Footer{
        grid-row: 5;
        grid-column: 1 / 4;
    }

  }


@media screen and (max-width: 845px) {
    .restaurant-list{
        grid-row: 3; 
        grid-column: 1 / 4;
        margin-right: 25px;
    }

    .dishes-component{ 
        grid-row: 4;  
        grid-column: 1 / 4;
    }

    .discount-applicator{
        grid-row: 5;
        grid-column: 1 / 4;
    }

    Footer{
        grid-row: 6;
        grid-column: 1 / 4;
    }
  }

  @media screen and (max-width: 715px) {
    #change-password-form{
        top: 33%;
    }
  }

  @media screen and (max-width: 450) {
    .dishes-component{
        margin: none;
    }
  }