.DashboardClass{
    display: grid;
    
}

.RestaurantListClass{
    grid-column: 1;
    grid-row: 2;
}

.GraphClass{
    grid-column: 2;
    grid-row: 2;
}

.MonthsClass{
    grid-column: 3;
    grid-row: 2;
}

.DishesClass{
    grid-column: 1 / 3;
    grid-row: 3;
}

.DiscountApplicatorClass{
    grid-column: 3;
    grid-row: 3;
}

.FooterClass{
    grid-column: 1 / 4;
    grid-row: 4;
}

#restaurant-search{
    margin: 5px;
}

.sales-graph{
    background-color: #ffffff;
    border: solid;
}

.months{
    background-color: #ffffff;
    border: solid;
}

.Dishes{
    display: flex;
    border: solid;
    height: 300px;
    background-color: #ffffff;
    border: solid;
  }

  #dishes-input{
    height: 15px;
    margin: 5px;
  }

.displayed-dishes{
    border: solid;
    height: 120px;
    width: 100px;
    margin: 5px;
    text-align: center;
}

#submitDiscountButton{
    border-style: none;
    color: #fff;
    background-color: #ee0d0d;
    border-color: #ee0d0d;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0rem .25rem .25rem 0rem;
    margin: 5px;

}

/* @media screen and (max-width: 800px) {
    .restaurant-list {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .sales-graph{
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .months{
        grid-row: 3;
        grid-column: 1 / 3;
    }

    .dishes{
        grid-row: 4;
        grid-column: 1 / 3;
    }

    .discount-applicator{
        grid-row: 5;
        grid-column: 1 / 3;
    }

  } */

