.WelcomeText{
    grid-column: 1 / 4;
    grid-row: 2;
    margin: 25px 0px 25px 25px;
}

.MainWelcome{
    position: relative;
    z-index: 999;
    font-size: 1.125rem;
}

.AdminPanel{
    position: relative;
    z-index: 999;
    font-size: .875rem;
    font-weight: 400;
    color: #6c757d;
}