.restaurant-logo-component{
    display: flex;
    justify-content: left;
    align-items: center;
}

#restaurant-logo{
    position: relative;
    z-index: 998;
    height: auto;
    width: 100px;
}

#restaurant-name{
    position: relative;
    z-index: 999;
    font-size: 3.8em;
    margin: auto;
}