.restaurant-list{
    background-color: #ffffff;
    border: solid;
    grid-column: 1;
    grid-row: 2;
}

#restaurant-search{
    margin: 10px;
}

.restaurant-list li{
    margin: 10px;
    list-style: none;
}
