.header-component{
    background-color: white;
    border: solid;
    height: 200px;
    grid-column: 1 / 4;
    grid-row: 1;
}

#restaurant-logo{
    height: auto;
    width: 200px;
}

@media screen and (max-width: 450px) {
    header{
        box-shadow: none;
    }
}
