.header-component{
    background-color: white;
    border: none;
    height: auto;
    height: 150px;
    grid-column: 1 / 4;
    grid-row: 1;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    border-radius: .25rem;
}

#restaurant-logo{
    height: auto;
    width: 150px;
    border-radius: .25rem;

}


