.dishes-component{
    grid-column: 2 / 3;
    grid-row: 3;  
    border: none;
}

.Dishes{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 15px;
  }

  #dishes-input{
    height: 15px;
    margin: 5px;
  }

.displayed-dishes{
    height: 120px;
    width: 100px;
    margin: 5px;
    text-align: center;
    align-items: center;
}

.restaurant-dishes{
    margin-top: 10px;
    width: 80px;
    margin-right: 35px;
}

#dishes-name{
    font-size: x-large;
    text-align: center;
}

#dishes_photo{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.input-dishes-photo{
    margin-top: 9px;
    width: 100px;
    height: 100px;
    margin-left: 5px; 
}

.input-dishes-photo:hover{
    border: solid;
}

#new-dish-form{
    background-color: rgba(0, 0, 0, 0.89);
    position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}

.input-container{
	position:absolute;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    transition: all 0.5s ease-in-out;
    margin: 5px;
}

.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}

.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
}

.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}