.dishes-component{
    grid-column: 2 / 3;
    grid-row: 3;  
    border: none;
}

.Dishes{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 15px;
  }

  #dishes-input{
    height: 15px;
    margin: 5px;
  }

.displayed-dishes{
    height: 120px;
    width: 100px;
    margin: 5px;
    text-align: center;
}

.restaurant-dishes{
    margin-top: 10px;
    width: 80px;
    margin-right: 35px;
}

#dishes-name{
    font-size: x-large;
    text-align: center;
}

#dishes_photo{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}